body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #5BBCFF;
    margin: 0;
    padding: 0;
}

#quiz-container {
    margin: 20px auto;
    max-width: 600px;
    background-color: #C5FF95;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

#question-container {
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #FFFAB7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option {
    width: 200px;
    margin: 10px;
    padding: 15px;
    cursor: pointer;
    border: 2px solid #00224D;
    border-radius: 5px;
    font-size: 16px;
    color: #00224D;
    text-align: center;
}

.option:hover {
    background-color: #00224D;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#score {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    color: #00224D;
}

#timer {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
    color: #ff4500;
}

